@import url('../../index.css');

.button {
    background-color: var(--off-white);
    color: var(--blue);
    border: none;
    padding: .5rem;
    border-radius: .2rem;
    font-weight: 700;
    width: 8rem;
    cursor: pointer;
    transition: .4s;
}

.submit {
    background-color: var(--blue);
    color: var(--off-white);
}

.link {
    text-decoration: none;
}

.link:visited {
    color: var(--blue);
}